body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 18px;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style: none;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
}

.section-one {
    padding: 0 256px;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
}

.section-two {
    padding: 28px 256px;
    text-align: center;
}

.section-three {
    padding: 128px 256px;
    background-color: #E5E7EB;
}

.section-four {
    padding: 96px 256px;
    color: #E5E7EB;
}

.section-three h2 {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.section-four h2 {
    color: #FFF;
    padding: 0;
    margin: 0;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.links {
    display: flex;
    gap: 16px;
    margin-left: auto;
}

.header {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    align-items: center;
    margin: 64px 0;
}

.content .text {
    margin-bottom: 8px;
}

.left-content, .right-content {
    width: 50%;
}

.right-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
  }

button.signup {
    background-color: #3882F6;
    border: 1px solid royalblue;
    color: white;
}

.blue-container .signup {
    border: 2px solid #FFF;
    padding: 6px 28px;
}

.img-container {
    display: flex;
    justify-content: center;
    gap: 56px;
    padding: 56px;
}

.image {
    width: 178px;
}

.text {
    padding-top: 8px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.blue-container {
    display: flex;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    padding: 48px 128px;
}